<html>
<h1> Cute Cat <%= foo %> </h1>
<ol>
  <% computer.forEach(function(computer){ %>
   <li><%= computer.title %></li>
   <img src="<%=computer.image%>" style="height: 100px ; width: auto" >
   <% }); %>
</ol>
</html>